.vs
MasterDuelCardTranslator.sln
MasterDuelCardTranslator/MasterDuelCardTranslator.pyproj

.idea

MasterDuelCardTranslator/__pycache__
MasterDuelCardTranslator/exception.txt
MasterDuelCardTranslator/search.db
MasterDuelCardTranslator/source.cdb
MasterDuelCardTranslator/ygocore.cdb
MasterDuelCardTranslator/settings.json