.vs
MasterDuelCardTranslator.sln
MasterDuelCardTranslator/MasterDuelCardTranslator.pyproj

.idea

MasterDuelCardTranslator/__pycache__
MasterDuelCardTranslator/exception.txt
MasterDuelCardTranslator/screenshot.png
MasterDuelCardTranslator/search.db
MasterDuelCardTranslator/source.db
MasterDuelCardTranslator/ygocore.cdb
MasterDuelCardTranslator/settings.json